* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
body {
    padding: 3rem 2rem;
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#container {
        width: 98%;
}
#test-1 {
    background-color: hsl(263, 55%, 52%);
    color: #fff;
    position: relative;
    z-index: 1;
}
#test-2 {
    background-color:  hsl(217, 19%, 35%);  
    color: #fff;
}
#test-3, #test-5 {
    background-color:hsl(0, 0%, 100%);
    color: hsl(0, 0%, 81%);
}
#test-4 {
    background-color:  hsl(219, 29%, 14%);
    color: #fff;
}

.item {
    margin-bottom: 1.4rem;
    border-radius: 4%;
    padding: 1.2rem;
    width: 100%;
    box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.2);

}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
    z-index: 2;
    position: relative;;
}
.header img {
    border-radius: 50%;
    margin-right: .8rem;
    border: 1px solid black;
}
h4 {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    z-index: 1;   
}
.item p {
    opacity: 70%;
}
.header .name {
    opacity: 100%;
    font-size: 1rem;
}
#quote {
    position: absolute;
    right: 10%;
    top: 0;
    z-index: 0;
    opacity: .7;
}
@media (min-width:576px) {
   #container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
   }
    #test-5 {
       flex-basis: 25%; 
    } 
    #container, #main-left, #bottom, #top {
        display: flex;
    }
   #main-left {
       flex-direction: column;
       flex-basis: 75%;
      }  
    #top, #bottom {
        flex-basis: 50%;
      } 
    #test-1,#test-4 {
        flex-basis: 65%;
      } 
    #test-2, #test-3 {
        flex-basis: 35%;
    }
    #main-left .item {
        margin-right: 1.4rem;
    }  

}